/*
 * Color pattern
 * http://paletton.com/#uid=c0t3h0W3K0k5Uw00GT+2NI99UrveNn3
 */

secondary-text = #999


*
  color: #333
  box-sizing: border-box

img
  max-width: 100%

blockquote
  background-color: #f1f1f1
  margin-left: 0
  padding: 1px 10px

.secondary-text
  color: secondary-text
  font-size: 12px

code
  color: #c7254e
  background: rgba(0,0,0,.04)
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace
  padding: 0 .2em

.fit_to_origin
  width: auto

.fit_to_width
  width: auto
  max-width: 100%

.fit_to_height
  width: auto
  height: auto
  max-width: 100%
  max-height: 100%
  position: fixed




// Common component

.ws-comment-attachment
  display: flex
  label
    color: secondary-text
  .ws-comment-attachment-container
    margin-left: 10px
    ul
      margin: 0
      padding: 0
      list-style: none










// Base page

.container
  margin-left: 20px

.ws-task-status-container
  padding: 0 20px

.ws-title-container
  padding: 0 20px 20px

.ws-issue-container
.ws-comments-container
  padding: 20px

.ws-task-status
  padding: 5px 10px
  float: left
  &.ws-task-status-progress
    background-color: #FFD889
  &.ws-task-status-fin
    background-color: #C3EEEE
  &.ws-task-status-archived
    background-color: #FFE9E9
  &.ws-task-status-deleted
    background-color: #DB9797
    color: #fff
  &.ws-task-parent
    float: right
    background-color: #E6E9EB

.ws-task-project
  float: left
  padding: 5px 10px
  background-color: #B3C4C3

.ws-task-meta
  float: left
  margin-right: 20px
  label
    font-weight: bold

.ws-title-meta
  font-size: 14px
  margin-left: 10px

.ws-comments-container
  border-left: 1px solid #ccc
  padding-bottom: 160px

.ws-comment
  margin-bottom: 30px

.ws-comment-time
  margin-left: 5px

.ws-comment-content
  margin-top: 5px
  > p
    margin: 5px 0

.ws-comment-reply
  position: fixed
  bottom: 0
  padding-right: 50px
  background: #fff

  textarea
    width: 100%
    min-height: 100px

.ws-content-user
  color: #91D6D5

.ws-content-tasklink
  color: #F9A5A1
  &:hover
    color: #A23607


.ws-subtask-container
  margin-top: 50px;
