*
  color: #333
  box-sizing: border-box

img
  width: 100%

blockquote
  background-color: #f1f1f1
  margin-left: 0
  padding: 1px 10px

.secondary-text
  color: #999
  font-size: 12px

.container
  margin-left: 20px
  > div
    padding: 20px

.ws-title-meta
  font-size: 14px
  margin-left: 10px

.ws-comments-container
  border-left: 1px solid #ccc

.ws-comment
  margin-bottom: 30px

.ws-comment-time
  margin-left: 5px

.ws-comment-content
  margin-top: 5px
  > p
    margin: 5px 0

.ws-content-user
  color: #91D6D5

.ws-content-tasklink
  color: #F9A5A1
  &:hover
    color: #A23607
